h1, h2, .dineordash {
    text-align: center;
}

#sidebar .inner {
    padding-left: 42px;
}

@media screen and (min-width: 1282px) {
    #sidebar .inner {
        padding-top: 30px;
    }
    #sidebar {
        padding: 2.5em 2.5em 0.5em 0em; 
    }
}

.features section {
    padding: 3.5em 1em 1em 1em;
}

#recipes, #restaurants {
    padding-top: 1em;
}

.features h3 {
    text-align: center;
}

#restaurants p {
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}

.grey {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 25px;
    margin-bottom: 1px;
    padding: 6px;
}

.chosenfooditem {
    font-size: 200%;
    font-style: italic;
    text-decoration: underline;
}

/* #recipetitle {
    font-size: 200%;
    font-style: italic;
    text-decoration: underline;
} */

#chosenrecipe div p, .recipelist {
    text-align: start;
}

button, .button {
    padding: 0 2em;
    /* text-align: start; */
}

.button {
    background-color: rgba(255, 255, 255, 0.05);
}

/* #recipehistory {
    display: flex;
    flex-direction: column;
    
} */

#stepslist {
    padding: 1em;
}

#searchdiv {
    padding: 0;
    padding-top: 1em;
}

#searchdiv p, #searchhistorydiv h3, #recipehistorydiv h3 {
    text-align: center;
}

#searchhistorydiv, #recipehistorydiv {
    flex: 1 1;
    padding: 1em;
    
}

#recipehistory, #searchhistory {
    overflow-x: auto;
}

.content {
    padding: 2em 0;
}

#one section {
    justify-content: center;
}

#dineordashdesc {
    text-align: center;
}

.features {
    margin: 0;
}

#two {
    padding: 2em;
}

#twopanels {
    padding: 0;
}

.content .inner {
    padding: 0;
}

#one {
    padding: 2em;
}

#recipetitle {
    padding: 0;
    margin-bottom: 1em;
    /* background-color: rgba(0, 0, 0, 0.10); */
}

#oneone {
    display: flex;
    border-radius: 0.25em;
    border: 1px solid rgba(255, 255, 255, 0.15);
    /* flex-wrap: wrap; */
    background-color: rgba(255, 255, 255, 0.05);
}

#oneone h3 {
    margin-top: 3.5em;
    text-align: center;
    font-style: italic;
}

#ingredientslist {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 978px) {
    #oneone {
        flex-direction: column;

    }
    #ingredientslist {
        border-right:0px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
}

#oneone .two {
    /* max-width: 50%; */
    flex: 1 1;
    display: block;
    
}

#oneone section .content {
    padding: 1em;
}

#chosenrecipe, #stepslist {
    margin: 0;
    padding: 0;
}



#ingredientsteps {
    display: flex;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}

#ingredientsteps section {
    flex: 1 1;
    /* height: 10px; */
}

#three {
    /* justify-content: center; */
}

#searchdiv {
    width: 100%;
}

#chosenrecipe, #stepslist {
    overflow-y: auto;
    height: 800px;
}